body {
  margin: 0;
  padding: 0;
  height: 100vh;
  /* Ensures the background covers the full height of the viewport */
  background-image: url(gameAssets/forest.jpg);
  background-size: cover;
  /* Ensures the image covers the entire area */
  background-repeat: no-repeat;
  /* Prevents tiling of the image */
  background-position: center;
  /* Centers the image */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: 'Courier New', Courier, monospace;
}


#Header {
  text-align: center;
  background-color: rgba(0, 0, 0, 0.5);
  /* Semi-transparent header background */
  color: white;
  padding: 20px;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  margin-bottom: 20px;
}

#intro {
  text-align: center;
  background-color: rgba(0, 0, 0, 0.5);
  /* Semi-transparent header background */
  color: white;
  padding: 20px;
  margin-bottom: 20px;
}

.Game {
  text-align: center;
  background-color: rgba(255, 255, 255, 0.8);
  /* Semi-transparent game background */
  padding: 20px;
  border-radius: 10px;
  width: 80%;
  max-width: 600px;
  margin: auto;
}

.GameLine {
  display: flex;
  justify-content: space-around;
  margin: 10px 0;
}

/* Direction button styling */
.direction-button {
  aspect-ratio: 1;
  font-size: 48px;
  /* Font size */
  padding: 10px 18px;
  /* Space inside the button */
  color: rgb(0, 0, 0);
  /* Text color */
  background: none;
  border: none;
  border-radius: 12px;
  /* Remove default border */
  cursor: pointer;
  /* Pointer cursor on hover */
  transition: background-color 0.4s, transform 0.3s;
  /* Smooth transitions */
  font-family: "Dongle", serif;
  font-weight: 400;
}

/* Hover Effect */
.direction-button:hover {
  background-position: center;
  background-image: url(gameAssets/paw.png);
  background-size: cover;
  color: rgba(14, 158, 0, 0);
}

/* Active Effect */
.direction-button:active {
  transform: scale(0.95);
  /* Slightly shrink button on click */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  /* Adjust shadow */
}

#choiceText {
  color: rgb(17, 205, 17);
  font-weight: 1000;
}

#endingname {
  font-size: 25px;
  font-weight: 1000;
}